@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
  font-family:'Proxima Nova', Helvetica, Arial, sans-serif;
  color: #676E72;
}

html,
body {
  height: 100%;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 0;
  padding-left: 40px;
  background-color: #83B4C6;
  background-image: url(../images/photo-meeting.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.header .container {
  position: relative;
  z-index: 3;
}
.header-text {
  padding-right: 40px;
}
.header h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.header h1 strong {
  font-weight: 600;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 30px;
}
.header .lead {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}
.cover-image {
  margin-bottom: 0;
  top: 1px;
  margin-top: 20px;
  position: relative;
}
.header .btn {
  margin-bottom: 30px;
}

.logo {
  background-image: url(../images/solid.png);
  text-indent: -100%;
  width: 75px;
  height: 40px;
  background-size: 75px;
  overflow: hidden;
}
h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 44px;
}
img {
  display: block;
  margin: 0 auto 40px;
}
.tac {
  text-align: center;
}
.feature {
  margin-bottom: 40px;
}
.feature h3 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 40px;
  color: #A8A8A8;
  font-weight: 600;
}
.feature h4 {
  color: #07698D;
  margin-top: 0;
  border-left: 4px solid #E2E2E2;
  padding-left: 15px;
  margin-left: -19px;
}
.prepared h4 {
  margin-top: 30px;
}
.technical {
  background-color: #F9F9F9;
}
.technical .row {
  padding: 40px 0 10px;
}
.technical img {
  margin-top: 25px;
}
.focused {
  margin-bottom: 10px;
}
.actionable h4 {
  margin-top: 30px;
}

/* register */

.register {
  background-color: #07698D;
  padding: 60px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #fff;
}
.register h4,
.register p {
  margin: 0 0 20px;
}
.register .small {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 0;
}
.register h4 {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 18px;
  margin-bottom: 10px;
}
.register .btn {
  display: inline-block;
  margin-top: 4px;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
  line-height: 33px;
  height: 45px;
}
.btn,
.form-control {
  font-size: 18px;
}
.btn {
  line-height: 45px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
}
.btn-default {
  background-color: #46B589;
  border: 0;
  color: #fff;
}
.btn-default:hover {
  background-color: #46B589;
  color: #fff;
}

/* footer */

.footer {
  font-size: 12px;
  padding: 24px 0;
  line-height: 27px;
  border-bottom: 1px solid #e5e5e5;
}

.footer,
.footer a {
  color: #676E72;
}

.social-links {
  text-align: center;
}
.social-links .nav-tabs {
  display: inline-block;
}

.twitter,
.facebook,
.linkedin {
  text-indent: -1000%;
  width: 27px;
  height: 27px;
  background-size: 27px;
  overflow: hidden;
}
.twitter {
  background-image: url(../images/twitter-icon.png);
}
.facebook {
  background-image: url(../images/facebook-icon.png);
}
.linkedin {
  background-image: url(../images/linkedin-icon.png);
}

.nav-tabs {
  border-bottom: 0;
}
.nav-tabs > li {
  margin-right: 15px;
}
.nav-tabs > li > a {
  border: 0;
  padding: 0;
  border-radius: 0;
  line-height: 27px;
}
.nav-tabs > li > a:hover {
  background-color: inherit;
  border: 0;
}
.dropdown li,
.dropdown button {
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
}
.dropdown button {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
.dropdown button:focus {
  outline: none;
}
.dropdown-menu {
  background-color: transparent;
  border: 1px solid #fff;
  min-width: 0;
  padding: 0;
}
.dropdown-menu li {
  border-bottom: 1px solid #fff;
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.dropdown-menu li:last-child {
  border-bottom: 0;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header {
    text-align: left;
  }
  .row-inverted .col-sm-1,
  .row-inverted .col-sm-2,
  .row-inverted .col-sm-3,
  .row-inverted .col-sm-4,
  .row-inverted .col-sm-5,
  .row-inverted .col-sm-6,
  .row-inverted .col-sm-7,
  .row-inverted .col-sm-8,
  .row-inverted .col-sm-9,
  .row-inverted .col-sm-10,
  .row-inverted .col-sm-11,
  .row-inverted .col-sm-12 {
    float: right;
  }
}
@media screen and (max-width: 768px) {
  .header-text {
    padding-right: 0;
  }
}

/* prefinery */

#prefinery_popup {
  border-radius: 0 !important;
  border: 0 !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2) !important;
  padding: 20px !important;
}
#prefinery_header {}
#prefinery_iframe {
  padding-right: 0 !important;
}
